// Theme colors

// Light Theme colors
$theme-color-grey-light: #f3f2f2;
$theme-color-grey: #e6e4e4;
$theme-color-grey-dark: #dad7d7;

$theme-grey: #E9EBEE;

$fb-blue: #4267b2;
$fb-blue-light: #5a7cc2;
$fb-blue-dark: #375695;

$gmail-red: #D44638;
$gmail-red-dark: #B23121;

$color-black: #000;
$color-white: #fff;