/**
 * 1.0 HTML elements
 * 2.0 Application wide styles
 *  2.1 Sidebar
 *  2.2 Navigation
 *  2.3 Panels
 *  2.4 Password Requirements
 *  2.5
 *  2.6
 *  2.7
 *  2.8 Forms
 * 3.0 Login Page
 * 4.0 Admin Portal
 *  4.1 Admin Dashboard
 *  4.2 Schedule
 *
 *
 *
 *
 * 5.0 Employee Portal
 *  5.1 Employee Dashboard
 *  5.2 Employee Schedule
 */

/* HTML elements */
body{
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  /* background: #F5F6FA; */
  background: #e0e6eb;
  /* background: #d3d7e9; */
}

/* 2.0 Application wide styles */

.application-color{
  /* color: #124ba8; */
  color: #1a2229;
}

.application-background{
  /* background-color: #124ba8; */
  background-color: #1a2229;
}

.input-max-width{
  max-width: 140px;
}

.green{
  color: #3a7500;
}

.red{
  color: red;
}

.content{
  margin-left: 175px;
  padding: 10px;
}

.content-full{
  margin-left: 0;
  padding: 10px;
}

.content-header{
  padding-bottom: 9px;
  margin: 5px 0 15px;
  border-bottom: 1px solid #1a2229;
}

.content-header > h1{
  margin-top: 5px;
  font-weight: bolder;
}

h4.panel-header{
  font-size: 16.5px;
  margin: 0;
  letter-spacing: .5px;
}

.table{
  table-layout: fixed;
}

.col-xs-12 > .input-group{
  margin: 7.5px 0 7.5px 0;
}

.col-xs-12 > button[type="submit"]{
  margin: 7.5px 0 7.5px 0;
}

.margin-left-0{
  margin-left: 0 !important;
}

.padding-10{
  padding: 10px !important;
}

.inline-button{
  display: inline-block;
  float: right;
  padding: 0 5px 0 0;
}

.inline-button > a{
  color: rgba(0, 0, 0);
}

.inline-button > a:hover{
  color: rgba(0, 0, 0, .7);
}

.badge{
  /* display: inline;
  padding: .2em .6em .3em;
  line-height: 1;
  vertical-align: baseline;
  border: .25em; */
  font-size: .8em;
  font-weight: lighter;
}

.badge:hover{
  color: #000;
}

.badge-link:hover{
  text-decoration: none;
}

.float-right{
  float: right;
}

.page-loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 99;
  background: #e0e6eb;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}

/* 2.1 Sidebar */

@media (max-width: 535px){

  /* #slider, #slider-bottom{
    left: -175px !important;
  } */

  .mobile-bar{
    left: -175px !important;
  }

  .mobile-nav{
    padding-left: 0px !important;
  }
}

.mobile-left{
  left: 0 !important;
}

#side-bar{
  position: absolute;
  width: 175px;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #1a2229;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#side-bar-bottom{
  position: fixed;
  width: 175px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #1a2229;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  z-index: 9;
}

.slide-in{
  animation: slide-in(0.2s forwards);
  -webkit-animation: slide-in 0.2s forwards;
}

.slide-out{
  animation: slide-out 0.2s forwards;
  -webkit-animation: slide-out 0.2s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%);}
}

@-webkit-keyframes slide-in{
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out{
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out{
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(100%); }
}

/* .aside{
  width: 175px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #1a2229;
  z-index: 10;
  color: #FFF;
} */

/* .aside-start-mobile{
  left: -175px !important;
} */

.aside > ul.sidebar-top{

}

#side-bar > ul.sidebar-nav{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

#side-bar > ul.sidebar-nav > a > li{
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 20px;
  line-height: 20px;
  color: #FFF;
  top: 10px;
  vertical-align: middle;
}

#side-bar > ul.sidebar-nav > a > li:hover{
  background-color: #000;
  text-decoration: none;
}

.sidebar-nav > a > li:before{
  clear: both;
  content: '';
  display: table;
}

 /* .sidebar-bg {
  background-color: #1a2229;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 175px;
  z-index: 0;
} */

.sidebar-hidden{
  left: -175;
  display: none;
}

.sidebar-mobile{
  z-index: 10;
}

ul.sidebar-top{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.profile{
  border-bottom: 1px solid #fff;
}

ul.sidebar-top > li{
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 15px;
  line-height: 15px;
  top: 10px;
  vertical-align: middle;
  color: #FFF;
}

ul.sidebar-top > li:not(.profile){
  text-align: center;
}

ul.sidebar-top > li:first-of-type > a{
  font-size: 16px;
  color: #FFF;
  border-bottom: 1px solid #fff;
}

ul.sidebar-top > li:first-of-type > a:hover{
  text-decoration: none;
}

ul.sidebar-top > li:nth-of-type(2) > span{
  font-size: 30px;
}

ul.sidebar-top > li:nth-of-type(2) > p{
  display: inline-block;
  text-align: center;
  padding: 0 0 0 10px;
}

.name{
  font-size: 20px;
}

aside.sidebar-mobile,
div.sidebar-mobile{
  display: fixed;
  z-index: 10;
}

a.custom-item{
  color: #FFF;
}

.list-group-item.custom-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-item{
  /* background: #124ba8; */
  background-color: #1a2229;
  border: none;
}

/* 2.2 Nav */
nav.navbar.navbar-custom{
  padding-left: 175px;
  background-color: #fff;
  border-color: #e7e7e7;
  border-radius: 0;
  border: none;
}


/* 2.3 Panels */

.panel{
  border: none !important;
}

.panel-custom-heading{
  color: #FFF;
  /* background-color: #124ba8; */
  background-color: #1a2229;
  padding: 5px 7px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /* border: 1px solid #124ba8; */
  border: 1px solid #1a2229;
}

.panel-custom-heading > h4{
  font-size: 12px;
  line-height: 14px;
  margin: 3px;
}

div.panel-buttons{
  float: right;
}

div.panel-buttons > a{
  line-height: 14px;
  /* font-size: 12px; */
  border: 1px solid #fff;
}

div.panel-buttons > a > i{
  color: #FFF;
}

div.panel-buttons > a:hover{
  opacity: .8;
}

/* 2.4 Password Requirements */

div#password-requirements{
  display: block;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 5px;
  margin-bottom: 15px;
}

#password-requirements > ul{
  list-style-type: none;
}

div#confirm-new-password{
  display: block;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 5px;
  margin-bottom: 15px;
}

/* 2.5 Buttons */

.btn-icon{
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 14px;
}

.btn-blue{
  background-color: #124ba8;
  color: #FFF;
}

.btn-blue:hover{
  opacity: .7;
}

/* 2.6 Widgets */

.widget{
  position: relative;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #FFF;
  padding: 15px;
  overflow: hidden;
}

.widget .stats-icon{
  font-size: 42px;
  height: 56px;
  width: 56px;
  text-align: center;
  line-height: 56px;
  margin-left: 15px;
  color: #FFF;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: .2;
}

.widget .stats-info h4{
  font-size: 13px;
  margin: 5px 0;
  font-weight: 500;
}

.widget .stats-info p{
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

.widget .stats-link a{
  display: block;
  margin: 15px -15px -15px;
  padding: 7px 15px;
  background: rgba(0,0,0,.4);
  text-align: right;
  color: #ddd;
  font-weight: 300;
  text-decoration: none;
}

.widget .stats-link a:hover{
  color: #fff;
  background: rgba(0,0,0,.6);
}

/* 2.7 List group */
div.list-group > a.list-group-item:hover{
  color: #1a2229;
}

/* 2.8 Forms */

div.form-container{
  position: relative;
  width: 80%;
  margin: 0 auto;
}

div.form-container .form-group,
div.form-container .form-inline{
  width: 80%;
  margin: 0 auto;
}

fieldset{
  border: 1px solid #1a2229;
  border-radius: 4px;
}

fieldset > legend{
  width: auto;
  margin-left: 20px;
  border-bottom: 0;
  padding: 0 5px;
}

fieldset div.form-group{
  padding: 5px 0 5px 0;
}

/* 3.0 Login Page */
.login-cover{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-cover-background{
  /* background: radial-gradient(ellipse at center, #666 0, #000 100%); */
  opacity: .6;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login{
  width: 450px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 170px 0 0 -225px;
  border-radius: 4px;
  background: rgba(0,0,0,.7);
  color: #ccc;
}

.login-header{
  margin-bottom: 25px;
  text-align: center;
}

.login-header > h4{
  display: inline-block;
  margin: 0 0 0 15px;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: lighter;
}

.login-cover-image{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('/assets/img/login_background2.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-form{
  width: 450px;
  margin: 0 auto;
  padding: 40px;
}

.forgot-password-link{
  text-align: center;
  color: #fff;
}

.forgot-password-link > a {
  color: #fff;
}

.forgot-password-link > a:hover,
.forgot-password-link > a:active,
.forgot-password-link > a:visited,
.forgot-password-link > a:focus {
  text-decoration: none;
  opacity: .8;
}

/* 4.0 Admin */

/* 4.1 Admin - Dashboard */
.info-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  margin: 0 0 25px 0;
}

.info-block {
  flex: 1 24%;
  border: 1px solid #000;
}

.info-content{
  position: relative;
  width: 100%;
  height: 100%;
}

.info-content > p{
  padding: 10%;
  font-size: 19px;
  text-align: center;
}

/* 4.2 Admin - Schedule */

.approve-deny-div{
  display: inline-block;
  float: right;
}

/**/

.user-information{
  height: auto;
  width: 100%;
  padding: 7.5px;
  border: 1px solid #000;
  border-radius: 3px;
}

/* 5.0 Employee */

/* 5.1 Employee - Dashboard */

/* 5.2 Employee - Schedule */

div.employee-schedule{
  display: block;
  border: 1px solid #eee;
  height: auto;
  border-radius: 3px;
  padding: 10px;
}

p.schedule-look{
  padding: 2.5px;
}

p.schedule-look:hover{
  background-color: #eee;
  font-weight: bold;
  border-radius: 3px;
}


/* JS/CSS Overrides - use !important */

.m-l-0{
  margin-left: 0px !important;
}

.m-l-15{
  margin-left: 15px !important;
}

.m-l-25{
  margin-left: 25px !important;
}

.m-l-35{
  margin-left: 35px !important;
}

.m-l-45{
  margin-left: 45px !important;
}

.m-l-55{
  margin-left: 55px !important;
}

.pos-fixed{
  position: fixed !important;
}

.pos-abs{
  position: absolute !important;
}

.pos-rel{
  position: relative !important;
}


/* Breakpoints */

  /* 1.0 767px max-width */
@media (max-width: 767px){

  /* Login Page */
  .login{
    left: 0;
    top: 0;
    margin: 0;
    position: relative;
    width: 100%;
    background: 0 0;
  }

  .login-cover-image > img{
    max-width: initial;
    max-height: 100%;
  }

  .login-form{
    width: 100%;
  }

  .login-header{
    padding-top: 90px;
  }

  .login-header > h4,
  .login-header > span{
    color: #fff;
  }
}

@media (max-width: 932px){

  .login-cover-image > img{
    max-width: initial;
    max-height: 100%;
  }
}


@media (max-width: 535px){

  .aside-mobile{
    left: -175px;
  }

  .content-mobile{
    margin-left: 0;
  }

  nav.navbar.navbar-custom.navbar-mobile{
    padding-left: 0;
  }
}
