.panel{
    position: relative;
    display: block;
    width: 100%;
    margin: 1em 0;
    border-radius: 4px;
    background-color: #FFF;

    &__header{
        position: relative;
        display: block;
        // background-color: rgba($random-black, .8);
        background-color: $fb-blue;
        padding: .25em .75em;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: $color-white;
        font-size: .95em;
    }

    &__actions{
        position: absolute;
        right: .5em;
        width: auto;

        i[data-click="handle-panel-body"]{
            color: #FFF;

            &:hover{
                cursor: pointer;
                color: $theme-color-grey-dark;
            }
        }
    }

    &__body{
        position: relative;
        display: block;
        padding: .75em;
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: .9em;
    }
}