.sidebar{
    position: fixed;
    left: 0;
    width: 15.625em;
    height: 100%;
    background-color: $theme-color-grey;

    &__user-info{
        display: block;
        padding: 1em;
    }

    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__link{
        display: block;
        padding: 1em;
        border-bottom: 1px solid #FFF;
        color: #000;

        &:hover{
            background-color: $theme-color-grey-dark;
            text-decoration: none;
        }

        &:first-of-type{
            border-top: 1px solid #FFF;
        }
    }
}