.sidebar{
    position: fixed;
    left: 0;
    width: 15.625em;
    height: 100%;
    background-color: $theme-grey;
    padding: 1em;

    &--closed{
        left: -15.625em !important;
    }

    &--open{
        left: 0 !important;
    }

    &__user-info{
        display: block;
        padding: 1em 0;
        margin: 0;
        border-bottom: 1px solid #000;
    }

    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__link{
        display: block;
        padding: .55em;
        color: #000;
        margin: .75em 0;
        font-size: .85em;

        &--round-borders{
            border-radius: 5px;
        }

        &--active{
            background: $fb-blue;
            color: #FFF;
        }

        &:hover{
            background-color: $fb-blue;
            color: #FFF;
            text-decoration: none;
        }
    }
}