.widget{
    position: relative;
    display: block;
    background-color: $color-white;
    border-radius: 4px;
    padding: 1em;
    overflow: hidden;
    margin: 1em 0;

    &--blue-bg{
        background: linear-gradient(to right bottom, rgba($fb-blue-light, 1), rgba($fb-blue-dark, .9));
        color: #FFF;
    }

    &--red-bg{
        background: linear-gradient(to right bottom, rgba($gmail-red, 1), rgba($gmail-red-dark, .9));
        color: #FFF;
    }

    &__title{
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: -.5px;
    }

    &__content{
        font-size: 1.75em;
    }

    &__link{
        display: block;
        font-size: .75em;
        text-align: right;
        margin: 1em -1.5em -1.3em;
        padding: .5em 1em;
        background-color: rgba($color-black, .15);
        color: rgba($color-black, .85);

        &:hover{
            cursor: pointer;
            background-color: rgba($color-black, .3);
            color: rgba($color-white, .85);
            transition: all .2s ease-in;
        }
    }
}